.highlighted-element {
  outline: 3px solid #a009f7;
  outline-offset: -3px;
  position: relative;
  background-color: transparent;
  border-radius: 5px;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #a009f7, 0 0 20px #a009f7, 0 0 40px #a009f7, 0 0 60px #a009f7, 0 0 80px #a009f7, 0 0 100px #a009f7, 0 0 120px #a009f7, 0 0 140px #a009f7;
  }
  100% {
    box-shadow: 0 0 10px #a009f7, 0 0 40px #a009f7, 0 0 80px #a009f7, 0 0 120px #a009f7, 0 0 160px #a009f7, 0 0 200px #a009f7, 0 0 240px #a009f7, 0 0 280px #a009f7;
  }
}
